{% extends "base.html" %}

{% block title %}
Checkout - Digital Saree
{% endblock %}

{% block content %}

<section class="checkout-page">

    <h1>Checkout</h1>

    <div class="checkout-container">

        <div class="order-summary">

            <h2>Order Summary</h2>

            {% for item in cart_items %}

            <div class="checkout-item">

                <div>
                    <h3>{{ item["name"] }}</h3>

                    <p>
                        Quantity:
                        {{ item["quantity"] }}
                    </p>
                </div>

                <div>
                    ₹{{ item["price"] * item["quantity"] }}
                </div>

            </div>

            {% endfor %}

            <hr>

            <h2 class="checkout-total">
                Total: ₹{{ total }}
            </h2>

        </div>


        <div class="address-section">

            <h2>Delivery Address</h2>

            <form method="POST">

               <label>Full Delivery Address</label>
                <textarea name="address" placeholder="Enter your complete delivery address" required></textarea>

                <h2>Payment Details</h2>

                <div class="payment-option">
                    <label>
                        <input type="radio" name="payment_method" value="Cash on Delivery" required>
                        Cash on Delivery
                    </label>
                </div>

                <div class="payment-option">
                    <label>
                        <input type="radio" name="payment_method" value="UPI">
                        UPI
                    </label>
                </div>

                <div class="payment-option">
                    <label>
                        <input type="radio" name="payment_method" value="Credit/Debit Card">
                        Credit/Debit Card
                    </label>
                </div>

                <button type="submit">Place Order</button>
            </form>

        </div>

    </div>

</section>

{% endblock %}
